html, body{
    margin:0%;
    padding:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#navbar{
    color:white;
    font-size: 1.2em;
}

.navbar-fixed{
    width: 100%;
    /* position:fixed; */
}
.navbar-brand{
    font-size:3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.home{
    height:80vh;
    background-color: cyan;
}

.home-page{
    background-color: cyan;
    padding-top:10rem;
}

.login{
     /* margin-top:8rem; */
     margin:10rem 1rem 0rem 1rem;
}

.container-fluid {
    margin:0%;
    padding:0%;
    overflow: hidden;
}

.accordion, .link{
    width:100%;
}

footer{
    margin: 0%;
    padding:10px;
    height:auto;
}

.textinput{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* WORKING WITH MEDIA QUERIES */
