{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block title %}
    Statistics
{% endblock %}
{% block content %}
   <div class="row">

   </div>
    <!-- Gender -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="row stats">
                                <div class="col-md-6 col-sm-12">
                                    <h5>Citizens</h5>
                                    <h2>{{citizen}}</h2>
                                </div>
                                <div class="col-md-6 col-sm-12 border-left">
                                    <h5>Groups</h5>
                                    <h2>{{ group }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="row stats">
                                <div class="col-md-6 col-sm-12">
                                    <h5>Sorted Messages</h5>
                                    <h2>{{mymessages|last}}</h2>
                                </div>
                                <div class="col-md-6 col-sm-12 border-left">
                                    <h5>Pending Messages</h5>
                                    <h2>{{ mymessages|first }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body text-center">
                            <div id="bar-citizen"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div id="column-gender"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div id="bar-group">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row map">
                    <div class="card">
                        <div class="card-body">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Age -->

    <!-- Period -->
    <!-- Place -->
{% endblock %}
{% block javascript %}
<script src="{% static 'highcharts.js '%}"></script>
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<script src="{% static 'leaflet/leaflet.js '%}"></script>
<!-- <script src="{% static 'exporting.js '%}"></script> -->
<!-- <script src="{% static 'heatmap.js '%}"></script> -->

<script>
    $(function(){
    
    var groups;
    var groupArrayData;
    var voting_center;
    var gender = ["Male", "Female"];
    var message;

     $.getJSON("{% url 'data' %}")
            .done(function (data) {
                processData(data);
                createMap(data);
            }).fail(function () {
                alert("Failed to load data");
    });

     function processData(data) {
        var citizen = JSON.parse(data.citizen);
        voting_center = [...new Set(citizen.map(data => data.fields.voting_centre))]
        citizenData(citizen, voting_center);
        genderGroups(citizen,['F','M']);

        var groupsRawData = JSON.parse(data.groups)
        groups = [...new Set(groupsRawData.map(data => data.fields.name))];
        groupData(groupsRawData, groups);
    }

    function createMap(data) {
            var map = L.map('map').setView([-0.7502489362943767, 36.44471844195051], 13);

            // Add a tilelayer
            var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}' + (L.Browser.retina ? '@2x.png' : '.png'), {
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attributions">CARTO</a>',
                subdomains: 'abcd',
                maxZoom: 20,
                minZoom: 0
            });

            layer.addTo(map);        

            //  Voting centres Data
            var circleMarkerStyles = {
                fillColor: '#e6550d', 
                color:'#e6550d',
                fillOpacity: 0.6, 
                weight: 0.2
            };

            circleMarkerStyles['radius'] = groupArrayData[0]*2 || 10;
            var unity = L.circleMarker([-0.7696, 36.4583], circleMarkerStyles).bindPopup(groupArrayData[0]+" Citizens");
            
            circleMarkerStyles['radius'] = groupArrayData[1] * 2 || 10;
            var lakeview = L.circleMarker([-0.7336, 36.4344], circleMarkerStyles).bindPopup(groupArrayData[1] + " Citizens");

            circleMarkerStyles['radius'] = groupArrayData[2] * 2 || 10;
            var kihotoBusiness = L.circleMarker([-0.72755, 36.43017], circleMarkerStyles).bindPopup(groupArrayData[2] + " Citizens");

            circleMarkerStyles['radius'] = groupArrayData[3] * 2 || 10;
            var chiefKayole = L.circleMarker([-0.7522, 36.4606], circleMarkerStyles).bindPopup(groupArrayData[3] + " Citizens");

            // Load the circle marker as feature group
            var votingCentres = L.featureGroup([unity,chiefKayole,lakeview,kihotoBusiness]).addTo(map);

            // Regions Data
            var region = L.geoJSON(null).addTo(map);

            var baselayers = {};
            var overlays = {
                'Voting Center': votingCentres,
                'Regions':region
            };

            L.control.layers(baselayers,overlays).addTo(map);
    }
   
    function extractAgeGroups(data){
        var ageLabels = ["Youth", "Middle Age","Old Age"];

    }

    function genderGroups(data, genders){
        var genderData = [];
        for(let gender of genders){
            genderData.push(data.filter(datum=> datum.fields.gender == gender).length)
        }
        plotData('column', 'column-gender', [{ name: 'Gender', data: genderData ,color:'#beaed4'}], gender, 'Gender Statistics')
    }

    function groupData(groups,categoryGroups){
        var dataValues = [];
        console.log(groups);

        for(let group of groups){
            dataValues.push(group.fields.members.length)
        }
        console.log(dataValues);
        
        plotData('column','bar-group', [{name:'Groups', data:dataValues, color: '#beaed4'}],categoryGroups,'Group Statistics')
    }

    function citizenData(citizens, votingCenters){
        var dataValues = [];

        for(let votingCenter of votingCenters){
            dataValues.push(citizens.filter(citizen => citizen.fields.voting_centre == votingCenter).length);
        }
        // console.log(dataValues);
        groupArrayData = dataValues;
        console.log(votingCenters);
        plotData('column', 'bar-citizen', [{ name: 'Voting Centers', data: dataValues, color: '#beaed4' }], votingCenters, 'Voting Centre Statistic')
    }

    function plotData(type,id, data, category, title){
        // Column plots
        areacolors = (function () {
            let colors = ['#d73027', '#f46d43'];
            return colors
        }());

        function getColor(condition) {
            return condition == "Excellent" ? '#003300' : condition == "Very Good" ? '#006600' : condition == "Good" ? '#009900' : condition == "Fair" ? '#99CC00' : condition == "Poor" ? '#FF6600' : condition == "Unknown" ? '#FF3300' : '#FF0000';
        }

        let colors = category.map(k => getColor(k));

        let xAxis;
        let series;

        if (type != "line") {
            // Check plot type
            xAxis = [{
                categories: category,
                labels: {
                    step: 0
                },
                legend: false
            }];

            series = {
                label: {
                    connectorAllowed: false,
                },
                stacking: 'normal',
            }
        } else {
            xAxis = [{
                crosshair: true,
            }
            ];

            series = {
                label: {
                    connectorAllowed: false,
                },
                pointStart: 2015
            }
        }


        // Column plots
        Highcharts.chart(id, {
            chart: {
                backgroundColor: '#ffffff',
                type: type
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: `${title} `
            },
            xAxis: xAxis,
            yAxis: {
                // min: 0,
                title: {
                    text: null
                }, labels: {
                    formatter: function () {
                        return Math.abs(this.value) + '';
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: series
            },
            series: data,
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    }
});
</script>
{% endblock %}