{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-3 mt-3">
    <div class="row ">
        <form class="form-horizontal col-md-8" method="get">
            <input class="form-control" type="text" name="q" id="" placeholder="Id Number">
        </form>
        <div class="col-md-4 col-sm-12"> 
            <a href="{% url 'citizen-create' %}" class="btn btn-info mb-2 w-100"> Add<i class="fa fa-plus ml-2"></i></a>
            <!-- <button class="btn btn-info mb-2" onclick="updateCSV()">Update Download Contacts</button> -->
        </div> 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Identification Number</th>
                    <th>Names</th>
                    <th>Gender</th>
                </tr>
                {% for citizen in citizens %}
                <tr>
                    <td><h5><a href="{% url 'citizen-detail' citizen.id_number%}">{{ citizen.id_number }}</a></h5></td>
                    <td><p>{{ citizen.first_name }} {{ citizen.last_name }} </p></td>
                    <td>{{ citizen.get_gender_display }}</td>
                </tr>                
                {% endfor %}
            </table>
            
            <div class="container ml-5">
                {% include 'paginate.html' %}
            </div>
            
        </div>
        <div class="col-md-4">
            <!-- Messages Recent Issues -->
            <div class="list-group">
                <h5> Recent Messages</h5>
                <ul class="list-group">
                    {% for message in mymessages %}
                        <li class="list-group-item"> {{message.content}} <small><a href="{% url 'citizen-detail' message.user.id_number %}">{{message.pk}}</a></small></li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script>
    function updateCSV(){
        console.log("CSV");

        $.ajax({
            url:"{% url 'downup' %}",
            type:'GET',
            data:{},
            success:function(response){
                alert("Success");
            },
            error:function(e){
                alert("Failed to update the csv file");
            }
        });
    }
</script>
{% endblock %}