{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-3 mt-3">
    <h2>COLLEGE STUDENTS </h2>
    <div class="row ">
        <form class="form-horizontal col-md-8" method="get">
            <input class="form-control" type="text" name="q" id="" placeholder="Collage Name or ID Number">
        </form>
        <div class="col-md-4 col-sm-12">
            {% if user.is_admin %}
                <a href="{% url 'college-create' %}" class="btn btn-info mb-2 w-100"> Add to College<i class="fa fa-plus ml-2"></i></a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Names</th>
                    <th>Gender</th>
                    <th>College</th>
                    <th>Date Enrolled</th>
                    <th>Date Completed</th>
                </tr>
                {% for college in colleges %}
                    <tr>
                        <td class="">
                        <a href="/college/detail/{{college.pk}}" class="">{{ college.citizen.person.get_person }}</a>
                        </td>
                        <td>{{ college.citizen.person.get_gender_display }}</td>
                        <td>{{ college.collage_name }}</td>
                        <td>{{ college.date_enrolled }}</td>
                        <td>{{ college.date_completed }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="container ml-5">
                {% include 'paginate.html' %}
            </div>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script>
    $(function(){
        var items = document.querySelectorAll('.item');
        console.log(items);
        
        for(let item of items){
            $(item).on('click',eventHandler);
            console.log($(item));
        }

        function eventHandler(e){
            e.preventDefault();
                $('.detail').text("My info");
            e.stopPropagation();
        }
        
    });
</script>
{% endblock %}