{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-3 mt-3">
    <div class="row ">
        <form class="form-horizontal col-md-8" method="get">
            <input class="form-control" type="text" name="q" id="" placeholder="Student Name or ID Number">
        </form>
        <div class="col-md-4 col-sm-12">
            <a href="{% url 'college-create' %}" class="btn btn-info mb-2 w-100"> Add to College<i class="fa fa-plus ml-2"></i></a>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Names</th>
                    <th>Gender</th>
                    <th>College</th>
                    <th>Date Enrolled</th>
                    <th>Date Completed</th>
                </tr>
                {% for college in colleges %}
                    <tr>
                        <td class="item">
                            <h5><a href="{% url 'college-update' college.pk %}" >{{ college.citizen.person.get_person }}</a></h5>
                        </td>
                        <td>{{ college.citizen.person.get_gender_display }}</td>
                        <td>{{ college.collage_name }}</td>
                        <td>{{ college.date_enrolled }}</td>
                        <td>{{ college.date_completed }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="container ml-5">
                {% include 'paginate.html' %}
            </div>

        </div>
        <div class="col-md-4">
            <!-- Messages Recent Issues -->
            <div class="list-group">
                <h5> Recent Messages</h5>
                <ul class="list-group">
                    {% for message in mymessages %}
                    <li class="list-group-item"> {{message.content}} <small><a
                                href="{% url 'college-detail' message.user.id_number %}">{{message.pk}}</a></small></li>
                    {% endfor %}
                </ul>
                <div class="detail">

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script>
    $(function(){
        var items = document.querySelectorAll('.item');
        console.log(items);
        
        for(let item of items){
            $(item).on('click',eventHandler);
            console.log($(item));
        }

        function eventHandler(e){
            e.preventDefault();
                $('.detail').text("My info");
            e.stopPropagation();
        }
        
    });
</script>
{% endblock %}