{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<style>
        body{
            background-repeat: no-repeat;
            background-image: url('{% get_static_prefix %}images/juliewolpers.jpg');
            font-style: normal;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: small;
        }
        .container-fluid{
            width:100%;
        }
        .home{
            /* background-color:#10E7DC10;  */
            margin-top: 3rem;
           
        }
        .btn{
            border-radius: 28px;
            width: 20%;
        }

        h2{
            /* color: #8685EF; */
            font-weight: bold;
            font-size: 2.6em;
        }

        .card{
            color: #bbb9b9;
        }

        .boxed-grey {
            background:#FAF7FF;
            background: #8C920C50;
            padding: 20px;
            
        }

        .img-circle{
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }

        .card img{
            width: 300px;
            height: 300px;
            
        }
</style>
    <div class="container-fluid">
        <div class="home ">
            <div class="container home-page text-center text">
                <div class="">
                    <h2 class="text-dark">Lakeview Ward, Nakuru County</h2>
                    <p class="h5 text-white">Towards people driven development</p>
                    <!-- <div class="button-group"> -->
                    <a href="{% url 'list-view' %}" class="btn bg-green pl-2 text-white mr-2 w-25">People</a>
                    <a href="{% url 'group-list' %}" class="btn btn-light pl-3 w-25">Groups</a>
                    <!-- </div> -->
                    <p class="text-white mt-2">
                       
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid py-2 px-2 my-5 event bg-white">
            <!-- Events  -->
            <h2 class="text-center">Upcoming Events</h2>
            <p class="text-center"><i class="fa fa-2x fa-angle-down"></i></p>
            <div class="card-deck">
                {% for event in events %}
                    <div class="col-md-3 mb-2 mx-3 bg-light boxed-grey">
                        <div class="card-header bold bg-green" >
                            {{event.title}}<br>
                            <small>{{ event.time }}</small>
                        </div>
                        <div class="card-body py-2 px-2">
                            <p> Venue: <strong>{{ event.venue }}</strong></p>
                            {{event.content}}
                        
                        </div>  
                        {% if user.is_admin %}
                            <div class="mt-3">
                                <a href="{% url 'event-update' event.pk %}" class="mt-5"> <i class="fa fa-pen"></i class="fa fa-pen" > Update Event</a>
                            </div>
                        {% endif %}
                                              
                    </div>
                {% endfor %}
            </div>
            {% if user.is_admin %}
                <a href="{% url 'event-create' %}">Add Event</a>
            {% endif %}
        </div>

        <div class="container py-3 px-2">
            <h2 class="text-center">TESTIMONIALS</h2>
            <p class="text-center"><i class="fa fa-2x fa-angle-down"></i></p>
            <!-- Carousel -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for value in values %}
                        <li data-target="#carousel" data-slide-to="{{ value }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner bg-green">
                    <!-- Indicators -->
                    {% for testimonial in testimonials %}
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">{{ testimonial.name }}</h1>
                                <p class="lead text">
                                    {{ testimonial.content }}
                                </p>
                                <hr class="my-4">
                                <p>{{ testimonial.title }}</p>
                            </div>

                        </div>
                    {% endfor %}
        
                    </div>
               

                <a class="carousel-control-prev text-dark" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next text-dark" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

        </div>

        <div class="container py-3 px-2">
            <h2 class="text-center ">THE TEAM</h2>
            <p class="text-center"><i class="fa fa-2x fa-angle-down"></i></p>
            <div class="row">
                {% for member in teams %}
                    <div class="col-xs-6 col-sm-3 col-md-3 text-center mb-5">
                        <div class="wow bounceInUp" data-wow-delay="0.2s">
                            <div class="team bg-light py-2">
                                <div class="inner">
                                    <h5 class="text">{{ member.citizen.person.get_person }}</h5>
                                    <p class="subtitle">{{ member.role }}</p>
                                    <div class="avatar">
                                        <img src="{% get_static_prefix %}{{ member.picture }}" alt="profile" class="img-responsive img-circle" />
                                    </div>
                                    <p class="mt-2">{{ member.area_allocated }}</p>
                                    <p>{{ member.citizen.phone_number }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container-fluid py-3 px-2 ">
            <h2 class="text-center ">CONTACT US</h2>
            <p class="text-center"><i class="fa fa-2x fa-angle-down"></i></p>
            <div class="row mx-5 my-2 bg-white">
                <div class="col-md-4">
                    <h5 class="text">Phone Number</h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text">Email Address</h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text">Physical Address</h5>
                </div>
                {% for contact in contacts %}
                    <div class="col-md-4">
                        <p class="text-black">{{ contact.phone_number }}</p>
                    </div>
                    <div class="col-md-4">
                        <p class=""> {{ contact.email }}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="">{{ contact.physical_address }}</p>
                    </div>
                    {% if user.is_admin %}
                        <a href="/admin/citizens/contacts/{{contact.pk}}/change/" class=""> <i class="fa fa-pen"></i> Update</a>
                    {% endif %}
                {% endfor %}
            </div>
           
        </div>
        
    </div>
{% endblock %}
{% block javascript %}
    <script>
        // Get the
        $('.carousel-item').first().addClass('active');
        $('ol').children('li').first().addClass('active');

        </script>
{% endblock %}