<div class="form-group">
    <label for="surname">Surname</label>
    <input class="form-control" type="text" name="surname" >
</div>

<div class="form-group">
    <label for="first_name">First Name*</label>
    <input class="form-control" type="text" name="first_name" required>
</div>

<div class="form-group">
    <label for="last_name">Last Name*</label>
    <input class="form-control" type="text" name="last_name" required>
</div>

<div class="form-group">
    <label for="gender">Gender*</label>
    <select name="gender" id="gender_id" class="form-control" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    
</div>

<div class="form-group" >
    <label for="dob">Date of Birth*</label>
    <input class="form-control" type="text" name="dob" id="id_dob" required>
</div>