{% extends 'base.html' %}
{% block title %}
    Team List
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    body {
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: small;
    }

    .container-fluid {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    strong {
        margin: 10%;
    }
</style>
<div class="container">
    <h2 class="text-center"> TEAM MEMBERS</h2>
    <div class="row container my-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row mb-2">

                {% if user.is_admin %}
                    <a href="{% url 'team-create' %}" class="btn btn-dark">
                        Add New Team Entry
                        <i class="fa fa-plus ml-3"></i>
                    </a>
                {% endif %}
            </div>
            <div class="row">

                <table class="table table-stripped">
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Area Allocated</th>
                    </tr>
                    {% for team in teams %}
                    <tr>
                        <td>
                            {% if user.is_admin %}
                            <a href="{% url 'team-update' team.pk %}">{{ team.citizen.person.get_person }}</a>
                            {% else %}
                                {{ team.citizen.person.get_person }}
                            {% endif %}
                        </td>
                        <td>{{ team.role }}</td>
                        <td>{{ team.area_allocated }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="container ml-5">
                {% include 'paginate.html' %}
            </div>
        </div>

        <div class="col-md-4">
        </div>

    </div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}