{% extends 'base.html' %}
{% block title %}
    Bursary Create
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-3 mb-5">
    <div class="row">
        <div class="col-md-4 col-xs-12 my-1">
            <p class="text-center">Search Parent and Student</p>
            <form action="" class="student">
                <!-- Search students  -->
                <input type="text" placeholder="School Name or Admission Number" class="form-control" name='student'>
            </form>
            <div class="student-result">
                <a href="{% url 'create-student' %}">Add a student</a>
            </div>
            <form action="" class="parent my-2">
                <!-- Search students  -->
                <input type="text" placeholder="Parent ID" class="form-control" name='parent'>
            </form>
            <div class="parent-result">
                <a href="{% url 'citizen-create' %}">Add a Parent</a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-6 mx-2">
            <p class="text-center">{{ title }}</p>
            <form class="form-horizontal" method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="{{title}}" class="btn btn-success mt-2">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<link rel="stylesheet" href="{% static 'jquery-ui.css'%}" />
<script src="{% static 'jquery-ui.min.js'%}"></script>
<script>
    $(function () {
        var student_list;
        var parent_list;

        // Datepicker
        $('#id_date_issued').datepicker({
            dateFormat:'yy-mm-dd'
        });

        $('.student').on('submit', function (e) {
            e.preventDefault();
            getStudent($(this).serialize());
        });

         $('.parent').on('submit', function (e) {
            e.preventDefault();
            getParent($(this).serialize());
        });

        function getParent(data) {
            $.ajax({
                url: '/citizen/search/',
                data: data,
                type: 'GET',
                success: function (response) {
                    var res = JSON.parse(response);
                    $('.parent-result').empty();
                    //Populate the results 
                    console.log(res);
                    res.forEach(element => {
                        $('.parent-result').append(
                            `<li class="list-group-item">${element.pk}</li>`
                        );
                    });

                    parent_list = document.querySelectorAll('.parent-result li');
                    parent_list.forEach(el => {
                        $(el).on('click', function (e) {
                            console.log($(this).text());
                            $('#id_parent').val($(this).text());
                        });
                    });
                },
                error: function (e) {
                    alert("Failed to submit the data try again");
                }
            });
        }

        function getStudent(data) {
            $.ajax({
                url: '/student/search/',
                data: data,
                type: 'GET',
                success: function (response) {
                    var res = JSON.parse(response);
                     $('.student-result').empty();
                    //Populate the results 
                    console.log(res);
                    res.forEach(element => {
                         $('.student-result').append(
                            `<li class="list-group-item">${element.pk} ${element.fields.admission_number} ${element.fields.school}</li>`
                         );
                    });

                    student_list = document.querySelectorAll('.student-result li');
                    student_list.forEach(el => {
                        $(el).on('click', function(e){
                            console.log($(this).text());
                            var student_value = $(this).text().split(' ')[0]
                            $('#id_student').val(student_value);
                        });
                    });                 
                   
                },
                error: function (e) {
                    alert("Failed to submit the data try again");
                }
            });
        }

    });
</script>
{% endblock %}