{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-fluid text-dark mb-3">
    <div class="row container">
        <div class="col-md-9 col-sm-8 col-xs-8">
            <div class="row mx-1 mb-2">
                <a href="{% url 'bursary-create' %}" class="btn btn-dark">Add Bursary <i class="fa fa-plus ml-2"></i></a>
                <!-- <a href="#" class="btn btn-info"></a> -->
            </div>
            <form action="">
                <input type="text" class="form-control w-100" name="q" id="query" placeholder="Parent ID or Student Admision Number or School">
            </form>
            <table class="table mt-2">
                <tr>
                    <th>Parent</th>
                    <th>Student</th>
                    <th>Student Gender</th>
                    <th>School</th>
                    <th>Amount</th>
                    <th>Date Issued</th>
                </tr>
                {% for bursary in bursaries %}
                    <tr>
                        <td>{{ bursary.parent.person.get_person }}</td>
                        <td>{{ bursary.student.person.get_person }}</td>
                        <td>{{ bursary.student.person.get_gender_display }}</td>
                        <td>{{ bursary.student.school }}</td>
                        <td>{{ bursary.amount_awarded }}</td>
                        <td>{{ bursary.date_issued }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'paginate.html' %}
        </div>

        <div class="col-md-3 mb-5">
            <h5>Bursary Statistics</h5>
            <div class="" id="">
                <ul class="list-group">
                    <li class="list-group-item">
                        Total Amount
                        <p><strong>{{ total.amount_awarded__sum }}</strong></p>
                    </li>

                    <!-- Yearly Budget -->
                    {% for budget in yearly_budget %}
                        <li class="list-group-item">
                            {{ budget.date_issued }} Phase One
                            <p>Amount <strong>{{ budget.Total }}</strong></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}