{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'group-update' group.pk %}" class="btn btn-info mb-2"> Update Group <i class="fa fa-pen"></i></a>
            <a href="{% url 'group-delete' group.pk %}" class="btn btn-danger"> Delete Group <i class="fa fa-trash"></i></a>
        </div>
        <div class="col-md-6">
            <h1>{{ group.name }}</h1>
            <!-- Group Statistics -->
            <table class="table">
                <tbody>
                    <tr>
                        <td>Number of Members</td>
                        <td>{{group.get_members|length}}</td>
                    </tr>
                </tbody>
            </table>
            
            {% for member in group.get_members %}
                <tr>
                    <td>{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.id_number}}</td>
                </tr>
            {% endfor %}
            
        </div>
        <div class="col-md-4">
            <h5>Organised Events</h5>
            <ul class="list-group">
                <li class="list-group-item"> This, that, them, them</li>
            </ul>
        </div>
    </div>
</div>
    
    
{% endblock %}