{% extends 'base.html' %}
{% block title %}
    Groups
{% endblock %}
{% block content %}
<div class="container my-5 mx-auto">
    <!-- <a href="{% url 'group-create'%}" class="btn btn-info my-2"> Create Group <i class="fa fa-plus"></i></a> -->
    <div class="row">
        <div class="col-md-9">
            <a href="{% url 'group-create'%}" class="btn btn-info mb-2"> Create Group <i class="fa fa-plus"></i></a>
            <div class="row">

                {% for group in groups %}
                <div class="card col-md-5 mx-3 mb-3">
                    <div class="card-body">
                        <h4><a href="/group/{{group.pk}}/">{{ group.name }}</a></h4>
                    </div>
                    <div class="card-footer">
                        <p>{{ group.get_members|length }} members</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="col-md-3">
            <h5>Upcoming Group Events</h5>
            <ul class="list-group">
                {% for event in events %}
                    <li class="list-group-item"> {{ event.title}} <br><strong>{{ event.group }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}