{% extends 'base.html' %}
{% block title %}
    Group Detail
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container my-5 mx-auto">
  <div class="row">
     
      <div class="col-md-4">
            <h5>Personal Information </h5>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>{{ student.person.get_person }}</td>
                </tr>
                <tr>
                    <td>Admission Number</td>
                    <td>{{ student.admission_number }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ student.person.get_gender_display }}</td>
                </tr>
                <tr>
                    <td>School</td>
                    <td>{{ student.school }}</td>
                </tr>
                <tr>
                    <td>Current Level</td>
                    <td>Form {{ student.form }}</td>
                </tr>
            </table>

      </div>
      <div class="col-md-8">
          <h5>Academic Information</h5>
            <table class="table table-bordered">
                <thead>
                    <th>Grade</th>
                    <th>Term</th>
                    <th>Level</th>
                    <th>Year</th>
                    <th>Remarks</th>
                </thead>
                <tbody class="table-body">
                    {% for result in results %}
                    <tr>
                        <td>{{ result.grade }}</td>
                        <td>{{ result.term }}</td>
                        <td>Form {{ result.form }}</td>
                        <td>{{ result.year }}</td>
                        <td>{{ result.remarks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
      </div>
  </div>  
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-md-7">
            <h4 class=" text-center btn btn-info" id="result">Add results</h4>
            <form method="POST" class="form-horizontal addresult">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-success w-100 my-2">
            </form>
        </div>
       
    </div>
</div>

<!-- A modal to delete a group -->

{% endblock %}
{% block javascript %}
    <script>
        $(function(){
            // Hide and show the form
            $('#result').on('click', function(e){
                $('.addresult').toggle('slow');
                e.stopPropagation();
            });

            $('.addresult').on('submit', function(e){
                e.preventDefault();
                createResult($(this).serialize());
            });

            function createResult(data){
                $.ajax({
                    url:'/student/{{ student.pk }}/results/create/',
                    data:data,
                    type:'POST',
                    success:function(response){
                        populateTable(JSON.parse(response));
                        $('#result').removeData();
                    },
                    error:function(e){
                        alert("Failed to submit the data try again");
                    }
                });
            }

            function getData(){

            }

            function populateTable(response){
                console.log(response);
                 var tableBody = document.getElementsByClassName('table-body');
                 $(tableBody).html("");

                response.forEach(element => {
                    var row = `<tr><td>${element.fields.grade}</td><td>${element.fields.term}</td><td>${element.fields.form}</td><td>${element.fields.year}</td><td>${element.fields.remarks}</td></tr>`;
                    $(tableBody).append(row);
                });
            }
        });
    </script>
{% endblock %}